.users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('back.png'); /* Cambiar la URL de la imagen */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.candidate-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%; /* Asegurarse de que las cartas ocupen todo el ancho */
}

.candidate-card {
  background-color: white;
  border: 1px solid #000000;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agregar sombra */
  text-align: center;
  width: 250px;
  height: 350px; /* Altura constante para todas las cartas */
  transition: transform 0.2s;
  cursor: pointer;
}

.candidate-card:hover {
  transform: scale(1.05);
}

.candidate-card img {
  max-width: 100%;
  height: auto; /* Asegurar que la imagen mantenga su proporción */
  border-radius: 8px; /* Cambiar a 8px para que la imagen tenga bordes redondeados */
  margin-bottom: 10px;
}

.candidate-card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.candidate-card p {
  font-size: 1rem;
  margin: 5px 0;
}

.vote-message-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.vote-message {
  background-color: white;
  border: 1px solid #000000;
  color: black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
